flask
flask-cors
gunicorn
google-generativeai
python-dotenv
transformers
torch --extra-index-url https://download.pytorch.org/whl/cpu
pymupdf
python-docx
python-pptx
pytesseract
pillow
camelot-py
pandas
opencv-python-headless
glob2
matplotlib
nltk
werkzeug
